.backdrop-blur {
  background-color: #00000059;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-color: #ffffff23;
  color: rgba(255, 255, 255, .75);
  background: hex(#00000059) !important;
}
.backdrop-blur:hover, backdrop-blur:active {
  background-color: #0000007e !important;
  border-color: #ffffff35 !important;
  color: rgba(255, 255, 255, .95) !important;
}

.img-dim:hover {
  opacity: .7;
}
.img-dim {
  transition: opacity .3s;
}

.product-image {
  aspect-ratio: 16/9;
  object-fit: cover
}

.bp-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #ffffff10 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff10 1px, transparent 1px);
}
.bp-fade {
  background-image: linear-gradient(to bottom, #21252900, #212529);
}

[data-bs-theme=light] .bp-fade { background-image: linear-gradient(to bottom, #ffffff00, #ffffff); }
[data-bs-theme=light] .bp-grid { 
  background-image:
    linear-gradient(to right, #00000010 1px, transparent 1px),
    linear-gradient(to bottom, #00000010 1px, transparent 1px);
}
[data-bs-theme=light] .byte-img { content: url("/.assets/storage/misc/png/10.png"); }
[data-bs-theme=light] .byte-confused-img { content: url("/.assets/storage/misc/png/11.png"); }
[data-bs-theme=light] .byte-txt { color: #000 !important }
[data-bs-theme=light] .sort-button { background-color: #bbc1c7 !important }

.buy-btn i { padding: 4px; font-size: 18px }
[data-bs-theme=light] .buy-btn { background-color: #ffffff23; }
[data-bs-theme=light] .buy-btn:hover, [data-bs-theme=light] .buy-btn:active { background-color: #ffffff40 !important; }
[data-bs-theme=dark] .buy-btn { background-color: #00000059; }
[data-bs-theme=dark] .buy-btn:hover, [data-bs-theme=dark] .buy-btn:active { background-color: #0000007e !important; }

.buy-btn {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-color: transparent !important;
  border-top: none !important;
  padding-top: 8px;
  padding-bottom: 8px;

}

.buy-btn:focus-visible {
  box-shadow: none !important
}

.author-tag {
  opacity: .5;
  font-size: 15px;
}
